<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>

<%= simple_format @article.content %>

<h2>Item References</h2>

<%= render "admin/shared/item_references_list" %>

<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
