<h1>Editing event</h1>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>


<h2>Item references<h2>

<%= render "item_references/references"%>
<%= render "item_references/form"%>